*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container{
    display: flex;
    gap: 20px;
}

.card{
    width: 220px;
    height: 340px;
    border: 2px solid #ccc;
    text-align: center;
    padding: 25px;
    transition: 0.3s;
}

.card img{
    width: 60px;
    margin-bottom: 20px;
}

.card h2{
    margin-bottom: 15px;
    font-size: 28px;
}

.card p{
    font-size: 14px;
    margin-bottom: 25px;
    color: #444;
}

.card button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.card:hover{
    background-color: #ff4f87;
    color: white;
    transform: scale(1.05);
}

.card:hover p{
    color: white;
}

.card:hover button{
    background-color: white;
    color: #ff4f87;
}

.instagram{
    background-color: #ff4f87;
    color: white;
}

.instagram p{
    color: white;
}

.instagram button{
    background-color: white;
    color: #ff4f87;
}